@media only screen and (max-height: 1000px) {
  #Page {
    margin: 0;
    padding: 0;
    background: url("../../public/images/UFC.webp");
    height: 815px;
    background-color: rgb(1, 1, 1);
    background-size: cover;
    font-family: sans-serif;
    background-attachment: fixed;
    background-position: center;
  }
  
  .loginBox, .registerBox {
    border-radius: 20px;
    width: 320px;
    height: 420px;
    background: rgb(0, 0, 0, 0.75);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 40px 0px 40px;
  }
  
  .textInput {
    height: 30px;
    color: rgb(255, 255, 255, 1);
    font-size: 17px;
    width: 240px;
    margin-bottom: 5px;
    margin-top: 15px;
    opacity: 0.65;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ffffff;
  }
  
  .textInput::placeholder {
    color: rgb(255, 255, 255, 1);
    font-weight: bold;
  }
  
  .SubmitButton {
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 120px;
    height: 40px;
    color: #ffffff;
    font-size: 18px;
    background: transparent;
    margin-bottom: 25px;
    border-color: rgb(255, 255, 255);
  }
  
  #showPassword {
    cursor: pointer;
    position: absolute;
    right: 264px;
  }
  
  label {
    cursor: pointer;
    margin-top: 2px;
    position: absolute;
    right: 170px;
    font-size: 13px;
    color: #ffffff;
  }
  
  h1 {
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
  }
  
  a {
    color: white;
    opacity: 1;
    display: block;
    text-decoration: none;
  }
  
  .red {
    color: red;
  }
  
  .green {
    color: green;
  }
  
  #errorMessage {
    margin: 0;
  }
  
  #LoginErrorMessage {
    margin-bottom: 10px;
  }
}

@media only screen and (max-height: 390px) {
  .loginBox, .registerBox {
    border-radius: 20px;
    width: 320px;
    height: 380px;
    background: rgb(0, 0, 0, 0.75);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 40px 0px 40px;
  }

  .textInput {
    height: 20px;
    color: rgb(255, 255, 255, 1);
    font-size: 17px;
    width: 240px;
    margin-bottom: 10px;
    margin-top: 10px;
    opacity: 0.65;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ffffff;
  }

  h1{
    margin-bottom: 10px;
    font-size: 30px;
  }

  .SubmitButton {
    margin-top: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    font-weight: bold;
    width: 120px;
    height: 40px;
    color: #ffffff;
    font-size: 18px;
    background: transparent;
    margin-bottom: 12px;
    border-color: rgb(255, 255, 255);
  }
}


